<!DOCTYPE html>
<html>
    <head>
        <link href = "../../public/style/index.css" rel="stylesheet" type="text/css" />
    </head>
    <body class="about-page">
        <div class="wrapper">
            {{>headers}}
        </div>
        {{>content}}
        {{>footers}}
    </body>
</html>